
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // WARNING: These rules are permissive and allow public read/write access.
    // You should secure your storage before production.
    // https://firebase.google.com/docs/storage/security/start
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
